@model IEnumerable<projetobancodedados.Models.Vendas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data_v)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor_v)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_clientes_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data_v)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor_v)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_clientes_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_v">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_v">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_v">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
